/**
 * Applies styling for repeater control
 * 
 * Particular styling for this control
 */
 .blogig-repeater-control .blogig-repeater-control-inner {
    padding: 10px 0;
 }

 .blogig-repeater-control .blogig-repeater-control-inner .blogig-repeater-item {
    background: #ffffff;
    box-shadow: 0px 0px 3px #a6a6a6;
    z-index: 2;
    margin-bottom: 12px;
 }

 .blogig-repeater-control .blogig-repeater-control-inner .blogig-repeater-item.not-visible {
    opacity: 0.6;
    border: 1px dashed;
 }

 .blogig-repeater-control-inner .blogig-repeater-item h2 {
    margin: 0;
 }

 .blogig-repeater-control-inner .blogig-repeater-item .item-heading-wrap {
    display: flex;
    justify-content: space-between;
    padding: 14px 14px;

    align-items: center;
    font-size: 15px;
 }

 .blogig-repeater-control-inner .blogig-repeater-item .item-heading-wrap .display-icon,
 .blogig-repeater-control-inner .blogig-repeater-item .item-heading-wrap .item-heading {
    cursor: pointer;
 }

  .blogig-repeater-control-inner .blogig-repeater-item .item-heading-wrap .display-icon:hover,
  .blogig-repeater-control-inner .blogig-repeater-item .item-heading-wrap .settings-icon:hover {
    cursor: pointer;
    background-color: #f9f9f9;
  }

 .blogig-repeater-control-inner .blogig-repeater-item .item-heading-wrap .sortable-icon {
    cursor: move;
 }

 .blogig-repeater-control-inner .blogig-repeater-item .item-control-fields {
    display: none;
    padding: 10px 20px;
    border-top: 1px solid #00000040;
}

.blogig-repeater-item .item-control-fields .control--item-label {
    font-size: 14px;
    margin-bottom: 5px;
}

.blogig-repeater-item .item-control-fields .control--item-description {
    font-size: 12px;
    font-style: italic;
    display: inline-block;
    margin-bottom: 10px;
}

.blogig-repeater-item .item-control-fields .single-control {
    margin-bottom: 8px;
}

.customize-control .blogig-repeater-control input, 
.customize-control .blogig-repeater-control textarea,
.customize-control .blogig-repeater-control .image-holder {
    width: 100%;
    margin-top: 2px;
    border: none;
    box-shadow: 0px 0px 2px rgb(24 35 177 / 58%);
    border-radius: 0;
}

.blogig-repeater-control-inner .buttons-wrap {
    text-align: right;
    margin-top: 10px;
}

.blogig-repeater-control-inner .buttons-wrap .add-new-item {
    cursor: pointer;
    padding: 4px 8px;
    box-shadow: 0px 0px 2px rgb(24 35 177 / 58%);
}

.blogig-repeater-control-inner .remove-item {
    color: #d63638;
    text-decoration: underline;
    text-align: right;
    cursor: pointer;
}

.blogig-repeater-control-inner .image-field .image-holder .add-image-trigger {
    cursor: pointer;
    text-align: center;
    border: 1px dashed #aba9a9;
    padding: 8px 10px;
}


.blogig-repeater-control-inner .image-field .no-image, 
.blogig-repeater-control-inner .image-field .no-trigger {
    display: none;
}

.blogig-repeater-control-inner .image-field .image-holder .image-element {
    position: relative;
}

.blogig-repeater-control-inner .image-field .image-holder .image-element .remove-image {
    display: none;
}
.blogig-repeater-control-inner .image-field .image-holder .image-element:hover .remove-image {
    position: absolute;
    cursor: pointer;
    color: #ff00009e;
    height: 100%;
    width: 100%;
    left: 0;
    justify-content: center;
    align-items: center;
    border: 1px dashed;
    text-align: center;
    display: flex;
    top: 0;
}

.blogig-repeater-control-inner .image-field .image-holder .image-element:hover img {
    opacity: 0.5;
}


.blogig-repeater-control-inner .blogig-repeater-item .item-heading-wrap .item-heading {
    flex: 0 1 80%;
    text-transform: capitalize;
}

.blogig-repeater-control-inner .blogig-repeater-item .item-heading-wrap .dashicons {
    flex: 0 1 10%;
    border: 1px solid #ccc;
    padding: 0px;
    vertical-align: middle;
    line-height: 19px;
    padding: 5px;
}

.blogig-repeater-control-inner .blogig-repeater-item .item-heading-wrap .dashicons.dashicons-visibility {
    border-left: 0;
}

.blogig-repeater-control-inner .blogig-repeater-item .item-control-fields.isShow {
    display: block;
}


.blogig-repeater-control .fontawesome-icon-picker .icon-header > div.active-icon {
    flex: 80%;
    background-color: #fff;
    padding: 10px;
}
    

/******** Fontawesome Icon picker ****************/
.blogig-repeater-control .fontawesome-icon-picker .icon-header {
    cursor: pointer;
}

.blogig-repeater-control .fontawesome-icon-picker .icons-list i {
    cursor: pointer;
    font-size: 16px;
    padding: 9px;
    width: 16px;
}

.blogig-repeater-control .fontawesome-icon-picker .icon-header {
    display: flex;
    background: #f0f0f1;
    align-items: center;
    box-shadow: 0px 0px 2px rgb(24 35 177 / 58%);
}

.blogig-repeater-control .fontawesome-icon-picker .icon-header i {
    font-size: 20px;
}

.blogig-repeater-control .fontawesome-icon-picker .icon-header > div {
    text-align: center;
    padding: 10px;
}

.blogig-repeater-control .fontawesome-icon-picker .icon-holder .icons-list {
    height: 190px;
    overflow: auto;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 0 4px 3px rgba(174 174 174 / 50%);
    margin: 0 auto;
    margin-top: 9px;
    width: 204px;
    margin-left: -20px;
}

#sub-accordion-section-blogig_advertisement_section .blogig-repeater-item .item-control-fields .single-control.checkbox-field .control-inner{
    display: flex;
}

#sub-accordion-section-blogig_advertisement_section .blogig-repeater-item .item-control-fields .single-control.checkbox-field .control-inner input{
        flex: 0;
        margin-right: 15px;
}

#sub-accordion-section-blogig_advertisement_section .blogig-repeater-item .item-control-fields .single-control.checkbox-field .control-inner  label {
    font-weight: 400;
    font-size: 14px;
}

.blogig-repeater-item .single-control.alignment-field {
    margin-top: 10px;
    display: inline-block;
    width: 100%;
}

.blogig-repeater-item .single-control.alignment-field .alignment-items {
    display: flex;
}

.blogig-repeater-item .single-control.alignment-field .alignment-items .alignment-item{
    flex: 0 1 33%;
    padding: 7px;
    text-align: center;
    font-size: 14px;
}

.blogig-repeater-item .single-control.alignment-field .alignment-items .alignment-item:hover{
    cursor: pointer;
    }

.blogig-repeater-item .single-control.alignment-field .alignment-items .alignment-item:not(.isactive) {
    box-shadow: inset 0 0 0 1px #dfdfdf;
}

.blogig-repeater-item .single-control.alignment-field .alignment-items .alignment-item.isactive {
    background: var(--wp-components-color-accent,var(--wp-admin-theme-color,#007cba));
    color: #fff;
}