/** Responsive css **/

	/** override for smaller screen size **/
	@media (max-width: 996px){
		#blogig-main-wrap .blogig-article-inner .post-meta .button-text.hide-on-mobile{
			display: none;
		}
	}

/* 1200 for footer col */
	@media (max-width: 1200px){
		footer .footer-inner .row .footer-inner-wrap .footer-widget.column-four{
			flex: 0 1 33%;
		}

		.blogig-you-may-missed-inner-wrap .you-may-have-missed-wrap {
			gap: 5px;
		}
	}

/* 1030 for stickey **/
	@media (max-width: 1030px){
		.sidebar-sticky #theme-content .row .secondary-sidebar {
			z-index: initial;
		}

		.sidebar-sticky .secondary-sidebar,
		.sidebar-sticky .secondary-left-sidebar,
		.sidebar-sticky .secondary-sidebar,
		.sidebar-sticky .primary-content {
		    position: initial;
		}
	}

/** 1025 **/
	@media (max-width: 1025px) {
		.main-header .blogig-container .row {
			flex-direction: column;
			text-align: center;
		}

		.main-header .blogig-container .row > div {
			width: 100%;
			max-width: 100%;
		}

		.main-header .blogig-container .menu-section {
			text-align: center;
		}

		.site-branding-section {
			margin-bottom: 10px;
		}

		.main-header .blogig-container .row {
		    padding: 40px 0 30px 0;
		}

		body.archive--right-sidebar #blogig-main-wrap > .blogig-container .row,
		body.archive--left-sidebar #blogig-main-wrap > .blogig-container .row,
		body.archive--both-sidebar #blogig-main-wrap > .blogig-container .row,
		body.single--right-sidebar #blogig-main-wrap > .blogig-container .row,
		body.single--left-sidebar #blogig-main-wrap > .blogig-container .row,
		body.single--both-sidebar #blogig-main-wrap > .blogig-container .row,
		body.page--right-sidebar #blogig-main-wrap > .blogig-container .row,
		body.page--left-sidebar #blogig-main-wrap > .blogig-container .row,
		body.page--both-sidebar #blogig-main-wrap > .blogig-container .row,
		body.error-page--right-sidebar #blogig-main-wrap > .blogig-container .row,
		body.error-page--left-sidebar #blogig-main-wrap > .blogig-container .row,
		body.error-page--both-sidebar #blogig-main-wrap > .blogig-container .row,
		body.search-page--right-sidebar #blogig-main-wrap > .blogig-container .row,
		body.search-page--left-sidebar #blogig-main-wrap > .blogig-container .row,
		body.search-page--both-sidebar #blogig-main-wrap > .blogig-container .row
		 {
			flex-direction: column;

		}

		body.archive--right-sidebar #blogig-main-wrap > .blogig-container .row #primary,
		body.single--right-sidebar #blogig-main-wrap > .blogig-container .row #primary,
		body.search-page--right-sidebar #blogig-main-wrap > .blogig-container .row #primary,
		body.page--right-sidebar #blogig-main-wrap > .blogig-container .row #primary,
		body.error-page--right-sidebar #blogig-main-wrap > .blogig-container .row #primary,
		body.search-page--right-sidebar #blogig-main-wrap .blogig-container .row #primary {
			width: 100%;
			max-width: 100%;
			margin-right: 0;
			margin-bottom: 40px;
		}

		body.archive--right-sidebar #blogig-main-wrap .blogig-container .row #secondary,
		body.single--right-sidebar #blogig-main-wrap .blogig-container .row #secondary,
		body.search-page--right-sidebar #blogig-main-wrap .blogig-container .row #secondary,
		body.page--right-sidebar #blogig-main-wrap .blogig-container .row #secondary,
		body.error-page--right-sidebar #blogig-main-wrap .blogig-container .row #secondary,
		body.search-page--right-sidebar #blogig-main-wrap .blogig-container .row #secondary
		 {
			width: 100%;
			max-width: 100%;
			margin-left: 0;
		}

		body.archive--left-sidebar #blogig-main-wrap > .blogig-container .row #primary,
		body.single--left-sidebar #blogig-main-wrap > .blogig-container .row #primary,
		body.search-page--left-sidebar #blogig-main-wrap > .blogig-container .row #primary,
		body.page--left-sidebar #blogig-main-wrap > .blogig-container .row #primary,
		body.error-page--left-sidebar #blogig-main-wrap > .blogig-container .row #primary,
		body.search-page--left-sidebar #blogig-main-wrap .blogig-container .row #primary {
			width: 100%;
			max-width: 100%;
			margin-left: 0;
			order: 1;
			margin-bottom: 40px;
		}

		body.archive--left-sidebar #blogig-main-wrap > .blogig-container .row #secondary-aside,
		body.single--left-sidebar #blogig-main-wrap > .blogig-container .row #secondary-aside,
		body.search-page--left-sidebar #blogig-main-wrap > .blogig-container .row #secondary-aside,
		body.page--left-sidebar #blogig-main-wrap > .blogig-container .row #secondary-aside,
		body.error-page--left-sidebar #blogig-main-wrap > .blogig-container .row #secondary-aside
		 {
			width: 100%;
			max-width: 100%;
			margin-right: 0;
			order: 2;
		}


		body.archive--both-sidebar #blogig-main-wrap > .blogig-container .row #primary,
		body.single--both-sidebar #blogig-main-wrap > .blogig-container .row #primary,
		body.search-page--both-sidebar #blogig-main-wrap > .blogig-container .row #primary,
		body.page--both-sidebar #blogig-main-wrap > .blogig-container .row #primary,
		body.error-page--both-sidebar #blogig-main-wrap > .blogig-container .row #primary {
			width: 100%;
			max-width: 100%;
			margin-left: 0;
			order: 1;
			margin-bottom: 40px;
		}

		body.archive--both-sidebar #blogig-main-wrap > .blogig-container .row #secondary,
		body.single--both-sidebar #blogig-main-wrap > .blogig-container .row #secondary,
		body.search-page--both-sidebar #blogig-main-wrap > .blogig-container .row #secondary,
		body.page--both-sidebar #blogig-main-wrap > .blogig-container .row #secondary,
		body.error-page--both-sidebar #blogig-main-wrap > .blogig-container .row #secondary
		 {
			width: 100%;
			max-width: 100%;
			margin-left: 0;
			order: 2;
			margin-bottom: 40px;

		}

		body.archive--both-sidebar #blogig-main-wrap > .blogig-container .row #secondary-aside,
		body.single--both-sidebar #blogig-main-wrap > .blogig-container .row #secondary-aside,
		body.search-page--both-sidebar #blogig-main-wrap > .blogig-container .row #secondary-aside,
		body.page--both-sidebar #blogig-main-wrap > .blogig-container .row #secondary-aside,
		body.error-page--both-sidebar #blogig-main-wrap > .blogig-container .row #secondary-aside
		 {
		 	max-width: 100%;
			width: 100%;
			margin-right: 0;
			order: 3;
		}

		body.archive-tablet-column--three #blogig-main-wrap > .blogig-container .row #primary .blogig-inner-content-wrap,
		body.single-tablet-column--three #blogig-main-wrap > .blogig-container .row #primary .blogig-inner-content-wrap {
			grid-template-columns: repeat(2, 1fr);
		}

		body.archive-tablet-column--two #blogig-main-wrap > .blogig-container .row #primary .blogig-inner-content-wrap,
		body.single-tablet-column--two #blogig-main-wrap > .blogig-container .row #primary .blogig-inner-content-wrap {
			grid-template-columns: repeat(2, 1fr);
		}

		body.archive-tablet-column--one #blogig-main-wrap > .blogig-container .row #primary .blogig-inner-content-wrap,
		body.single-tablet-column--one #blogig-main-wrap > .blogig-container .row #primary .blogig-inner-content-wrap {
			grid-template-columns: repeat(1, 1fr);
		}

		.blogig-main-banner-section article.post-item .post-thumb {
    		padding-bottom: calc( 100% * 0.55 );
		}

		body.archive--masonry-layout.archive-desktop-column--three article, body.archive--masonry-layout.archive-desktop-column--three .blogig-advertisement-block {
		    width: calc(50% - 20px);
		    margin-bottom: 50px;
		}

		body.blogig-stickey-sidebar--enabled .row #primary,
		body.blogig-stickey-sidebar--enabled #blogig-main-wrap aside.secondary-aside,
		body.blogig-stickey-sidebar--enabled #blogig-main-wrap aside.secondary{

		    position: initial;
		    position: initial;
		    top: initial;
		    align-self: initial;

		}

		.blogig-you-may-missed-inner-wrap .you-may-have-missed-wrap {
			gap: 15px;
		}

		.no-of-columns--four .blogig-you-may-missed-inner-wrap .you-may-have-missed-wrap .post-item {
			flex: 0 1 31%;
		}

		.no-of-columns--three .blogig-you-may-missed-inner-wrap .you-may-have-missed-wrap .post-item {
			flex: 0 1 31%;
		}

		.no-of-columns--two .blogig-you-may-missed-inner-wrap .you-may-have-missed-wrap .post-item {
			flex: 0 1 48%;
		}

	}

/** 940 tab**/
	@media (max-width: 994px) {
		footer .footer-inner .row .footer-inner-wrap .footer-widget.column-four{
			flex: 0 1 50%;

		}

		footer .footer-inner .row .footer-widget.column-three{
			flex: 1 1 50%;

		}

		.site-header .site-title {
			font-size: var(--blogig-site-title-size-tab);
			line-height: var(--blogig-site-title-lineheight-tab);
			letter-spacing: var(--blogig-site-title-letterspacing-tab);
		}

		.site-header .site-description {
			font-size: var(--blogig-site-description-size-tab);
			line-height: var(--blogig-site-description-lineheight-tab);
			letter-spacing: var(--blogig-site-description-letterspacing-tab);
		}

		.main-navigation .menu li a, .main-navigation .nav.menu li a {
			font-size: var(--blogig-menu-size-tab);
		    line-height: var(--blogig-menu-lineheight-tab);
		    letter-spacing: var(--blogig-menu-letterspacing-tab);
		}

		.site-header .header-custom-button .custom-button-label {
			font-size: var(--blogig-custom-button-size-tab);
		    line-height: var(--blogig-custom-button-lineheight-tab);
		    letter-spacing: var(--blogig-custom-button-letterspacing-tab);
		}

		.site-header .header-custom-button {
		    border-radius: var(--blogig-custom-button-border-radius);
		}

		body.archive--grid-layout article figure.post-thumbnail-wrapper .post-thumnail-inner-wrapper, 
		body.archive--list-layout article figure.post-thumbnail-wrapper .post-thumnail-inner-wrapper,
		body.archive--list-layout #primary article.post_format-post-format-image .post-thumbnail-wrapper .post-thumnail-inner-wrapper,
		body.archive--list-layout #primary article.post_format-post-format-quote .post-thumbnail-wrapper .post-thumnail-inner-wrapper,
		body.archive--block-layout .no-feat-img .post-thumb-wrap,
		body.archive--block-layout article figure.post-thumbnail-wrapper .post-thumnail-inner-wrapper,
		body.archive--masonry-layout .no-feat-img .post-thumb-wrap,
		body.archive--masonry-layout article figure.post-thumbnail-wrapper .post-thumnail-inner-wrapper,
		body.archive--grid-layout article.post_format-post-format-image figure.post-thumbnail-wrapper .post-thumnail-inner-wrapper,
		body.archive--masonry-layout article.post_format-post-format-image figure.post-thumbnail-wrapper .post-thumnail-inner-wrapper,
		body.archive--grid-layout article.post_format-post-format-video figure.post-thumbnail-wrapper .post-thumnail-inner-wrapper,
		body.archive--grid-layout article.post_format-post-format-quote figure.post-thumbnail-wrapper .post-thumnail-inner-wrapper,
		body.archive--masonry-layout article.post_format-post-format-quote figure.post-thumbnail-wrapper .post-thumnail-inner-wrapper
		{
		    padding-bottom: calc( 100% * var(--blogig-post-image-ratio-tab) );
		}

		body.archive--list-layout article figure.post-thumbnail-wrapper .post-thumnail-inner-wrapper {
		    padding-bottom: calc( 100% * var(--blogig-list-post-image-ratio-tab) );
		}

		body.archive--list-layout #primary article.post_format-post-format-image .post-thumbnail-wrapper .post-thumnail-inner-wrapper,
		body.archive--list-layout #primary article.post_format-post-format-quote .post-thumbnail-wrapper .post-thumnail-inner-wrapper
		 {
			padding-bottom: calc( 100% * var(--blogig-list-post-image-ratio-tab) );
		}

		article .entry-title {
		    font-size: var(--blogig-post-title-font-size-tab);
		    line-height: var(--blogig-post-title-font-lineheight-tab);
		    letter-spacing: var(--blogig-post-title-font-letterspacing-tab);
		}

		article .post-excerpt {
		    font-size: var(--blogig-post-content-font-size-tab);
		    line-height: var(--blogig-post-content-font-lineheight-tab);
		    letter-spacing: var(--blogig-post-content-font-letterspacing-tab);
		    padding-bottom: 40px;
		}

		.post-date {
		    font-size: var(--blogig-date-font-size-tab);
		    line-height: var(--blogig-date-font-lineheight-tab);

		}
		.post-date a{
			letter-spacing: var(--blogig-date-font-letterspacing-tab);
		}

		article .post-footer .byline{
			font-size: var(--blogig-author-font-size-tab);
			letter-spacing: var(--blogig-author-font-letterspacing-tab);
			line-height: var(--blogig-author-font-lineheight-tab);
		}

		article .post-footer .post-meta .post-button {
		    font-size: var(--blogig-readmore-font-size-tab);
		    line-height: var(--blogig-readmore-font-lineheight-tab);
		    letter-spacing: var(--blogig-readmore-font-letterspacing-tab);

		}

		article .post-footer .post-meta .post-read-time {
		    font-size: var(--blogig-readtime-font-size-tab);
		    line-height: var(--blogig-readtime-font-lineheight-tab);
		    letter-spacing: var(--blogig-readtime-font-letterspacing-tab);
		}

		article .post-footer .post-meta .post-comments-num {
		    font-size: var(--blogig-comment-font-size-tab);
		    line-height: var(--blogig-comment-font-lineheight-tab);
		    letter-spacing: var(--blogig-comment-font-letterspacing-tab);
		}

		article .post-categories .cat-item a{
		    font-size: var(--blogig-category-font-size-tab);
		    letter-spacing: var(--blogig-category-font-letterspacing-tab);
		    line-height: var(--blogig-category-font-lineheight-tab);
		}

		footer .footer-inner .widget_block .wp-block-group__inner-container .wp-block-heading, footer .footer-inner section.widget .widget-title, footer .footer-inner .wp-block-heading {
		    font-size: var(--blogig-widget-block-font-size-tab);
		    letter-spacing: var(--blogig-widget-block-font-letterspacing-tab);
		    line-height: var(--blogig-widget-block-font-line-height-tab);
		    
		}

		.widget_block .wp-block-group__inner-container .wp-block-heading, section.widget  .widget-title {
		    font-size: var(--blogig-widget-block-font-size-tab);
		    letter-spacing: var(--blogig-widget-block-font-letterspacing-tab);
		    line-height: var(--blogig-widget-block-font-line-height-tab);

		}

		.widget_block.widget_search .wp-block-search__label {
		    font-size: var(--blogig-widget-block-font-size-tab);
		    letter-spacing: var(--blogig-widget-block-font-letterspacing-tab);
		    line-height: var(--blogig-widget-block-font-line-height-tab);
		}

		.widget_blogig_post_grid_widget .post-grid-wrap  .post-title {
			font-size: var(--blogig-widget-title-font-size-tab);
			line-height: var(--blogig-widget-title-font-lineheight-tab);
			letter-spacing: var(--blogig-widget-title-font-letterspacing-tab);
		    
		}

		.widget_blogig_post_list_widget .post-list-wrap  .post-title {
		    font-size: calc( var(--blogig-widget-title-font-size-tab) * 0.95);
		    line-height: var(--blogig-widget-title-font-lineheight-tab);
		    letter-spacing: var(--blogig-widget-title-font-letterspacing-tab);

		}

		.widget_blogig_category_collection_widget .categories-wrap .category-item .category-name{
		    font-size: var(--blogig-widget-title-font-size-tab);
		    letter-spacing: var(--blogig-widget-title-font-letterspacing-tab);
		    line-height: var(--blogig-widget-title-font-lineheight-tab);
		    
		}

		.widget_blogig_category_collection_widget .categories-wrap .category-item .category-count{

		    font-size: var(--blogig-widget-title-font-size-tab);
		    letter-spacing: var(--blogig-widget-title-font-letterspacing-tab);
		    line-height: var(--blogig-widget-title-font-lineheight-tab);
		   
		}

		ul.wp-block-latest-posts a,
		ol.wp-block-latest-comments li footer,
		ul.wp-block-archives a,
		ul.wp-block-categories a,
		ul.wp-block-page-list a{
		    font-size: calc( var(--blogig-widget-title-font-size-tab) * 0.94);
		    line-height: var(--blogig-widget-title-font-lineheight-tab);
		    letter-spacing: var(--blogig-widget-title-font-letterspacing-tab);

		}

		ol.wp-block-latest-comments li footer a{
		    font-size: calc( var(--blogig-widget-title-font-size-tab) * 0.94);
		    line-height: var(--blogig-widget-title-font-lineheight-tab);
		    letter-spacing: var(--blogig-widget-title-font-letterspacing-tab);

		}

		.widget .post-meta .post-date {
		    font-size: var(--blogig-widget-date-font-size-tab);
		    letter-spacing: var(--blogig-widget-date-font-letterspacing-tab);
		    line-height: var(--blogig-widget-date-font-lineheight-tab);
		}

		.widget_blogig_post_grid_widget .post-grid-wrap .post-categories a {
			font-size: var(--blogig-widget-category-font-size-tab);
			line-height: var(--blogig-widget-category-font-lineheight-tab);
			letter-spacing: var(--blogig-widget-category-font-letterspacing-tab);
		}

		body.single-post .blogig-inner-content-wrap .post-inner .entry-header .post-thumbnail {
			position: relative;
    		padding-bottom: calc( 100% * var(--blogig-single-post-image-ratio-tab) );
		}

		.page-template-default #primary article .post-thumbnail {
		    padding-bottom: calc( 100% * var(--blogig-single-page-image-ratio-tab) );
		}

		article .post-footer .post-meta .post-read-time {

			font-size: var(--blogig-readtime-font-size-tab);
			letter-spacing: var(--blogig-meta-font-letterspacing-tab);
			line-height: var(--blogig-meta-font-lineheight-tab);
		}

		article .post-footer .post-meta .post-button {
			font-size: var(--blogig-readmore-font-size-tab);
			letter-spacing: var(--blogig-readmore-font-letterspacing-tab);
			line-height: var(--blogig-readmore-font-lineheight-tab);
		}

		body.archive--block-layout article .entry-title {
    		font-size: calc( var(--blogig-post-title-font-size-tab)* 1.2 );
    		line-height: calc( var(--blogig-post-title-font-lineheight-tab)* 1.2 );
    		letter-spacing: var(--blogig-post-title-font-letterspacing-tab);
    	}

    	.no-of-columns--four .blogig-you-may-missed-inner-wrap .you-may-have-missed-wrap .post-item {
			flex: 0 1 48%;
		}

		.no-of-columns--three .blogig-you-may-missed-inner-wrap .you-may-have-missed-wrap .post-item {
			flex: 0 1 48%;
		}

		.no-of-columns--two .blogig-you-may-missed-inner-wrap .you-may-have-missed-wrap .post-item {
			flex: 0 1 48%;
		}

		.blogig-you-may-missed-inner-wrap .you-may-have-missed-wrap .post-thumbnail-wrapper .post-thumnail-inner-wrapper
		{
		    padding-bottom: calc(100%* var(--blogig-youmaymissed-image-ratio-tab));
		}

		.blogig-you-may-missed-inner-wrap .section-title {
		    font-size: var(--blogig-youmaymissed-block-font-size-tab);
		    letter-spacing: var(--blogig-youmaymissed-block-font-letterspacing-tab);
		    line-height: var(--blogig-youmaymissed-block-font-lineheight-tab);
		}

		.blogig-you-may-missed-inner-wrap .you-may-have-missed-wrap .post-thumbnail-wrapper .post-categories .cat-item a {
		    font-size: var(--blogig-youmaymissed-post-category-font-size-tab);
		    line-height: var(--blogig-youmaymissed-post-category-font-lineheight-tab);
		    letter-spacing: var(--blogig-youmaymissed-post-category-font-letterspacing-tab);
		}

		.blogig-you-may-missed-inner-wrap .you-may-have-missed-wrap article .entry-title {
		    font-size: var(--blogig-youmaymissed-post-title-font-size-tab);
		    line-height: var(--blogig-youmaymissed-post-title-font-lineheight-tab);
		    letter-spacing: var(--blogig-youmaymissed-post-title-font-letterspacing-tab);
		}

		.blogig-you-may-missed-inner-wrap .you-may-have-missed-wrap .post-thumbnail-wrapper .post-footer .byline a {
			font-size: var(--blogig-youmaymissed-post-author-font-size-tab);
		    line-height: var(--blogig-youmaymissed-post-author-font-lineheight-tab);
		    letter-spacing: var(--blogig-youmaymissed-post-author-font-letterspacing-tab);
		}

		.blogig-you-may-missed-inner-wrap .you-may-have-missed-wrap .post-thumbnail-wrapper .post-footer .post-date {
		    font-size: var(--blogig-youmaymissed-post-date-font-size-tab);
		    line-height: var(--blogig-youmaymissed-post-date-font-lineheight-tab);
		    letter-spacing: var(--blogig-youmaymissed-post-date-font-letterspacing-tab);
		}



	}

/** 768 **/
	@media (max-width: 769px) {

		body.archive-mobile-column--three #blogig-main-wrap > .blogig-container .row #primary .blogig-inner-content-wrap,
		body.single-mobile-column--three #blogig-main-wrap > .blogig-container .row #primary .blogig-inner-content-wrap {
			grid-template-columns: repeat(2, 1fr);
		}

		body.archive-mobile-column--two #blogig-main-wrap > .blogig-container .row #primary .blogig-inner-content-wrap,
		body.single-mobile-column--two #blogig-main-wrap > .blogig-container .row #primary .blogig-inner-content-wrap {
			grid-template-columns: repeat(2, 1fr);
		}

		body.archive-mobile-column--one #blogig-main-wrap > .blogig-container .row #primary .blogig-inner-content-wrap,
		body.single-mobile-column--one #blogig-main-wrap > .blogig-container .row #primary .blogig-inner-content-wrap {
			grid-template-columns: repeat(1, 1fr);
		}

		body.archive-mobile-column--one #blogig-main-wrap > .blogig-container .row #primary .blogig-inner-content-wrap,
		body.single-mobile-column--one #blogig-main-wrap > .blogig-container .row #primary .blogig-inner-content-wrap {
			grid-template-columns: repeat(1, 1fr);
		}

		.main-header .site-branding-section {
			margin-bottom: 20px;
		}

		.main-header .menu-section {
			display: flex;
			align-items: center;
			position: relative;
		}

		.main-header .menu-section nav{
			flex: 0 1 40%;
			text-align: left;
			justify-content: flex-start;
		}

		.main-header .menu-section nav button{
			border-color: transparent;
		}

		.main-header .menu-section .subscribe-section {
			flex: 0 1 60%;
			text-align: right;
		}

		.main-header nav.toggled .blogig-primary-menu-container,
		.main-header nav.toggled div.menu {
			position: absolute;
		    top: auto;
		    padding: 20px;
		    background-color: var(--blogig-white-bk);
		    z-index: 999;
		    width: 100%;
		    border-radius: 15px;
		    margin-top: 10px;
		    box-shadow: box-shadow: 0px 1px 3px 2px rgba(0,0,0,0.25);
		    -webkit-box-shadow: 0px 1px 3px 2px rgba(0,0,0,0.25);
		}

		.main-header nav .blogig-primary-menu-container ul li,
		.main-header nav div.menu ul li {
			padding: 8px 0;
		}

		.main-header nav .blogig-primary-menu-container ul li > a,
		.main-header nav div.menu ul li > a{
			min-width: 210px;
		    width: 100%;
		    color: var(--blogig-menu-color-submenu)!important;
		    border-bottom: 1px solid var(--blogig-submenu-border-btm-color);
		    text-transform: var(--blogig-submenu-font-texttransform);
		    text-decoration: var(--blogig-submenu-font-textdecoration);
		}

		.blogig-main-banner-section article.post-item .post-thumb {
    		padding-bottom: calc( 100% * 0.8 );
		}

		footer .footer-inner .row .footer-inner-wrap .footer-widget.column-four{
			flex: 0 1 100%;
		}

		footer .footer-inner .row .footer-widget.column-one{
			flex: 1 1 100%;
		}
		footer .footer-inner .row .footer-widget.column-two{
			flex: 1 1 100%;
		}
		footer .footer-inner .row .footer-widget.column-three{
			flex: 1 1 100%;

		}

		.main-navigation ul.menu li.menu-item-has-children > a:after, .main-navigation ul.menu li.page_item_has_children > a:after, .main-navigation ul.nav-menu li.menu-item-has-children > a:after, .main-navigation ul.nav-menu li.page_item_has_children > a:after {
			float: right;
		}

		.main-navigation .menu li, .main-navigation .nav.menu li {
			flex-direction: column;
		}

		.main-navigation .menu > li li a, .main-navigation .nav-menu > li li a{
			padding: 5px 15px;
		}

		.main-navigation .menu li a, .main-navigation .nav.menu li a {
		    margin: 5px 15px;
		}

		.main-navigation ul.menu li > ul.sub-menu.isShow,
		.main-navigation ul.nav-menu li > ul.sub-menu.isShow,
		.main-navigation ul.menu li > ul.children.isShow,
		.main-navigation ul.nav-menu li > ul.children.isShow {
			position: relative;
			left: 10px;
		}

		.main-navigation ul.menu li > ul.sub-menu, 
		.main-navigation ul.nav-menu li > ul.sub-menu,
		.main-navigation ul.menu li > ul.children, 
		.main-navigation ul.nav-menu li > ul.children {
			display: none;
		}

		.main-navigation ul.menu li > ul.sub-menu.isShow, 
		.main-navigation ul.nav-menu li > ul.sub-menu.isShow,
		.main-navigation ul.menu li > ul.children.isShow, 
		.main-navigation ul.nav-menu li > ul.children.isShow {
			position: relative;
			width: 100%;
			left: 10px;
			box-shadow: none;
			display: inline-block;
		}

		.main-navigation ul.menu li,
		.main-navigation ul.nav-menu li {
			position: relative;
		}

		.main-navigation ul.menu li a.toggle-sub-menu,
		.main-navigation ul.nav-menu li a.toggle-sub-menu
		 {
			position: absolute;
		    right: 0;
		    display: inline-block;
		    margin-top: -29px;
		    text-align: right;
		    z-index: 1;
		    padding: 5px 10px;
		    min-width: initial;
		    text-align: center;
		    width: auto;
		}

		.single-related-posts-section-wrap.layout--list .single-related-posts-wrap article .post-thumb-wrap {
    		flex: 0 1 30%;
		}

		.single-related-posts-section-wrap.layout--list .single-related-posts-wrap article .post-element {
    		flex: 1 1 60%;
		}


		.blogig-main-banner-section.main-banner-arrow-show .main-banner-wrap .slick-arrow, 
		.blogig-carousel-section.carousel-banner-arrow-show .carousel-wrap .slick-arrow {
		    display: block!important;
		}

		footer .footer-inner .row .footer-inner-wrap {
		    margin: 0 -12px;
		}

		footer .footer-inner .row .footer-widget {
			padding: 0 12px;
		}

		body.archive--list-layout.archive-desktop-column--one #primary article.post_format-post-format-image .post-thumbnail-wrapper .post-thumnail-inner-wrapper,
		body.archive--list-layout.archive-desktop-column--one #primary article.post_format-post-format-quote .post-thumbnail-wrapper .post-thumnail-inner-wrapper
		 {
			padding-bottom: calc( 100% * var(--blogig-list-post-image-ratio) );
		}

		.blogig-you-may-missed-inner-wrap .you-may-have-missed-wrap {
    		gap: 20px;
		}

		.no-of-columns--four .blogig-you-may-missed-inner-wrap .you-may-have-missed-wrap .post-item {
			flex: 0 1 47%;
		}

		.no-of-columns--three .blogig-you-may-missed-inner-wrap .you-may-have-missed-wrap .post-item {
			flex: 0 1 47%;
		}

		.no-of-columns--two .blogig-you-may-missed-inner-wrap .you-may-have-missed-wrap .post-item {
			flex: 0 1 47%;
		}

	}

/* 660 large mobile */
	@media (max-width: 675px) {
		body.single-post #blogig-main-wrap .blogig-container .row #primary .post-inner,
		body.single-post #blogig-main-wrap .blogig-container .row #primary .comments-area,
		body.search-results #blogig-main-wrap > .blogig-container > .row #primary article .blogig-article-inner,
		body.archive--block-layout #blogig-main-wrap > .blogig-container > .row #primary article .blogig-article-inner,
		body.single-post #blogig-main-wrap .blogig-container .row #primary .single-related-posts-section-wrap.layout--list {
		    padding: 20px;
		}

		.main-header .blogig-container .row {
		    padding: 30px 0 30px 0;
		}

		body.single-post #primary .post-navigation .nav-links > div {
			flex: 0 1 47%;
		}

		.no-of-columns--four .blogig-you-may-missed-inner-wrap .you-may-have-missed-wrap .post-item {
			flex: 0 1 100%;
		}

		.no-of-columns--three .blogig-you-may-missed-inner-wrap .you-may-have-missed-wrap .post-item {
			flex: 0 1 100%;
		}

		.no-of-columns--two .blogig-you-may-missed-inner-wrap .you-may-have-missed-wrap .post-item {
			flex: 0 1 100%;
		}

	}

/** 610 Mobile **/
	@media (max-width: 610px) {
		body.archive--masonry-layout.archive-desktop-column--two article, body.archive--masonry-layout.archive-desktop-column--two .blogig-advertisement-block {
    		width: 100%;
    		max-width: 100%;
    		margin-bottom: 50px;
		}

		body.archive--masonry-layout.archive-desktop-column--three article, body.archive--masonry-layout.archive-desktop-column--three .blogig-advertisement-block {
    		width: 100%;
    		max-width: 100%;
    		margin-bottom: 50px;
		}

		.site-header .site-title {
			font-size: var(--blogig-site-title-size-mobile);
			line-height: var(--blogig-site-title-lineheight-mobile);
			letter-spacing: var(--blogig-site-title-letterspacing-mobile);
		}

		.site-header .site-description {
			font-size: var(--blogig-site-description-size-mobile);
			line-height: var(--blogig-site-description-lineheight-mobile);
			letter-spacing: var(--blogig-site-description-letterspacing-mobile);
		}

		.main-navigation .menu li a, .main-navigation .nav.menu li a {
			font-size: var(--blogig-menu-size-mobile);
		    line-height: var(--blogig-menu-lineheight-mobile);
		    letter-spacing: var(--blogig-menu-letterspacing-mobile);
		}

		.site-header .header-custom-button .custom-button-label {
			font-size: var(--blogig-custom-button-size-mobile);
		    line-height: var(--blogig-custom-button-lineheight-mobile);
		    letter-spacing: var(--blogig-custom-button-letterspacing-mobile);
		}

		.site-header .header-custom-button {
		    border-radius: var(--blogig-custom-button-border-radius);
		}

		body.archive--grid-layout article figure.post-thumbnail-wrapper .post-thumnail-inner-wrapper, 
		body.archive--list-layout article figure.post-thumbnail-wrapper .post-thumnail-inner-wrapper,
		body.archive--list-layout #primary article.post_format-post-format-image .post-thumbnail-wrapper .post-thumnail-inner-wrapper,
		body.archive--list-layout #primary article.post_format-post-format-quote .post-thumbnail-wrapper .post-thumnail-inner-wrapper,
		body.archive--block-layout .no-feat-img .post-thumb-wrap,
		body.archive--block-layout article figure.post-thumbnail-wrapper .post-thumnail-inner-wrapper,
		body.archive--masonry-layout .no-feat-img .post-thumb-wrap,
		body.archive--masonry-layout article figure.post-thumbnail-wrapper .post-thumnail-inner-wrapper,
		body.archive--grid-layout article.post_format-post-format-image figure.post-thumbnail-wrapper .post-thumnail-inner-wrapper,
		body.archive--masonry-layout article.post_format-post-format-image figure.post-thumbnail-wrapper .post-thumnail-inner-wrapper,
		body.archive--grid-layout article.post_format-post-format-video figure.post-thumbnail-wrapper .post-thumnail-inner-wrapper,
		body.archive--grid-layout article.post_format-post-format-quote figure.post-thumbnail-wrapper .post-thumnail-inner-wrapper,
		body.archive--masonry-layout article.post_format-post-format-quote figure.post-thumbnail-wrapper .post-thumnail-inner-wrapper
		{
		    padding-bottom: calc( 100% * var(--blogig-post-image-ratio-mobile) );
		}

		body.archive--list-layout article figure.post-thumbnail-wrapper .post-thumnail-inner-wrapper {
		    padding-bottom: calc( 100% * var(--blogig-list-post-image-ratio-mobile) );
		}

		body.archive--list-layout #primary article.post_format-post-format-image .post-thumbnail-wrapper .post-thumnail-inner-wrapper,
		body.archive--list-layout #primary article.post_format-post-format-quote .post-thumbnail-wrapper .post-thumnail-inner-wrapper
		 {
			padding-bottom: calc( 100% * var(--blogig-list-post-image-ratio-mobile) );
		}

		article .entry-title {
		    font-size: var(--blogig-post-title-font-size-mobile);
		    line-height: var(--blogig-post-title-font-lineheight-mobile);
		    letter-spacing: var(--blogig-post-title-font-letterspacing-mobile);
		}

		article .post-excerpt {
		    font-size: var(--blogig-post-content-font-size-mobile);
		    line-height: var(--blogig-post-content-font-lineheight-mobile);
		    letter-spacing: var(--blogig-post-content-font-letterspacing-mobile);
		    padding-bottom: 40px;
		}

		.post-date {
		    font-size: var(--blogig-date-font-size-mobile);
		    line-height: var(--blogig-date-font-lineheight-mobile);

		}
		.post-date a{
			letter-spacing: var(--blogig-date-font-letterspacing-mobile);
		}

		article .post-footer .byline{
			font-size: var(--blogig-author-font-size-mobile);
			letter-spacing: var(--blogig-author-font-letterspacing-mobile);
			line-height: var(--blogig-author-font-lineheight-mobile);
		}

		article .post-footer .post-meta .post-button {
		    font-size: var(--blogig-readmore-font-size-mobile);
		    line-height: var(--blogig-readmore-font-lineheight-mobile);
		    letter-spacing: var(--blogig-readmore-font-letterspacing-mobile);

		}

		article .post-footer .post-meta .post-read-time {
		    font-size: var(--blogig-readtime-font-size-mobile);
		    line-height: var(--blogig-readtime-font-lineheight-mobile);
		    letter-spacing: var(--blogig-readtime-font-letterspacing-mobile);
		}

		article .post-footer .post-meta .post-comments-num {
		    font-size: var(--blogig-comment-font-size-mobile);
		    line-height: var(--blogig-comment-font-lineheight-mobile);
		    letter-spacing: var(--blogig-comment-font-letterspacing-mobile);
		}

		article .post-categories .cat-item a{
		    font-size: var(--blogig-category-font-size-mobile);
		    letter-spacing: var(--blogig-category-font-letterspacing-mobile);
		    line-height: var(--blogig-category-font-lineheight-mobile);
		}

		footer .footer-inner .widget_block .wp-block-group__inner-container .wp-block-heading, footer .footer-inner section.widget .widget-title, footer .footer-inner .wp-block-heading {
		    font-size: var(--blogig-widget-block-font-size-mobile);
		    letter-spacing: var(--blogig-widget-block-font-letterspacing-mobile);
		    line-height: var(--blogig-widget-block-font-line-height-mobile);
		    
		}

		.widget_block .wp-block-group__inner-container .wp-block-heading, section.widget  .widget-title {
		    font-size: var(--blogig-widget-block-font-size-mobile);
		    letter-spacing: var(--blogig-widget-block-font-letterspacing-mobile);
		    line-height: var(--blogig-widget-block-font-line-height-mobile);

		}

		.widget_block.widget_search .wp-block-search__label {
		    font-size: var(--blogig-widget-block-font-size-mobile);
		    letter-spacing: var(--blogig-widget-block-font-letterspacing-mobile);
		    line-height: var(--blogig-widget-block-font-line-height-mobile);
		}

		.widget_blogig_post_grid_widget .post-grid-wrap  .post-title {
			font-size: var(--blogig-widget-title-font-size-mobile);
			line-height: var(--blogig-widget-title-font-lineheight-mobile);
			letter-spacing: var(--blogig-widget-title-font-letterspacing-mobile);
		    
		}

		.widget_blogig_post_list_widget .post-list-wrap  .post-title {
		    font-size: calc( var(--blogig-widget-title-font-size-mobile) * 0.95);
		    line-height: var(--blogig-widget-title-font-lineheight-mobile);
		    letter-spacing: var(--blogig-widget-title-font-letterspacing-mobile);

		}

		.widget_blogig_category_collection_widget .categories-wrap .category-item .category-name{
		    font-size: var(--blogig-widget-title-font-size-mobile);
		    letter-spacing: var(--blogig-widget-title-font-letterspacing-mobile);
		    line-height: var(--blogig-widget-title-font-lineheight-mobile);
		    
		}

		.widget_blogig_category_collection_widget .categories-wrap .category-item .category-count{
		    font-size: var(--blogig-widget-title-font-size-mobile);
		    letter-spacing: var(--blogig-widget-title-font-letterspacing-mobile);
		    line-height: var(--blogig-widget-title-font-lineheight-mobile);
		   
		}

		ul.wp-block-latest-posts a,
		ol.wp-block-latest-comments li footer,
		ul.wp-block-archives a,
		ul.wp-block-categories a,
		ul.wp-block-page-list a{
		    font-size: calc( var(--blogig-widget-title-font-size-mobile) * 0.94);
		    line-height: var(--blogig-widget-title-font-lineheight-mobile);
		    letter-spacing: var(--blogig-widget-title-font-letterspacing-mobile);

		}

		ol.wp-block-latest-comments li footer a{
		    font-size: calc( var(--blogig-widget-title-font-size-mobile) * 0.94);
		    line-height: var(--blogig-widget-title-font-lineheight-mobile);
		    letter-spacing: var(--blogig-widget-title-font-letterspacing-mobile);

		}

		.widget .post-meta .post-date {
		    font-size: var(--blogig-widget-date-font-size-mobile);
		    letter-spacing: var(--blogig-widget-date-font-letterspacing-mobile);
		    line-height: var(--blogig-widget-date-font-lineheight-mobile);
		}

		.widget_blogig_post_grid_widget .post-grid-wrap .post-categories a {
			font-size: var(--blogig-widget-category-font-size-mobile);
			line-height: var(--blogig-widget-category-font-lineheight-mobile);
			letter-spacing: var(--blogig-widget-category-font-letterspacing-mobile);
		}

		body.single-post .blogig-inner-content-wrap .post-inner .entry-header .post-thumbnail {
    		padding-bottom: calc( 100% * var(--blogig-single-post-image-ratio-mobile) );
		}

		.page-template-default #primary article .post-thumbnail {
		    padding-bottom: calc( 100% * var(--blogig-single-page-image-ratio-mobile) );
		}

		article .post-footer .post-meta .post-read-time {

			font-size: var(--blogig-readtime-font-size-mobile);
			letter-spacing: var(--blogig-meta-font-letterspacing-mobile);
			line-height: var(--blogig-meta-font-lineheight-mobile);
		}

		article .post-footer .post-meta .post-button {
			font-size: var(--blogig-readmore-font-size-mobile);
			letter-spacing: var(--blogig-readmore-font-letterspacing-mobile);
			line-height: var(--blogig-readmore-font-lineheight-mobile);
		}

		.single-related-posts-section-wrap.layout--list .single-related-posts-wrap article{
			flex-direction: column;
		}

		.single-related-posts-section-wrap.layout--list .single-related-posts-wrap article .post-thumb-wrap {
			margin-right: 0;
		}

		.single-related-posts-section-wrap.layout--list .single-related-posts-wrap article > div,
		.single-related-posts-section-wrap.layout--list .single-related-posts-wrap article > figure
		{
			width: 100%;
			max-width: 100%;
		}

		.widget_blogig_category_collection_widget .categories-wrap .category-item .category-name{
			width: 80%;
		}

		body .widget .wp-block-latest-comments article{
			margin-bottom: 0;
		}

		body.single-post .site-main article .post-meta-wrap .byline {
		    letter-spacing: 0.3px;
		    margin-bottom: 15px;
		    display: inline-block;
		}

		body.single-post .comments-area .comment-meta {
		    flex-direction: column;
		    text-align: left;
		    justify-content: flex-start;
		    align-items: flex-start;
		}

		body.single-post .comments-area .comment-author.vcard {
			margin-bottom: 10px;
		}

		body.single-post .comments-area .comment-content {
    		margin: 10px 10px 10px 40px;
		}

		body.single-post .comments-area li > ul, body.single-post .comments-area li > ol {
		    margin-left: 0.2em;
		}

		body.archive--block-layout article .entry-title {
    		font-size: calc( var(--blogig-post-title-font-size-mobile)* 1.1 );
    		line-height: calc( var(--blogig-post-title-font-lineheight-mobile)* 1.1 );
    		letter-spacing: var(--blogig-post-title-font-letterspacing-mobile);
    	}

    	body .blogig-central-mode-enable article {
    		padding-left: 0;
    		padding-right: 0;
    	}

    	body.archive--block-layout #blogig-main-wrap .blogig-container .row #primary article .blogig-article-inner .inner-content{
    		overflow: hidden;
    	}

    	body.archive--block-layout article.format-image .inner-content .content-wrap,
    	body.archive--block-layout article.post_format-post-format-quote .inner-content .content-wrap {
			height: calc(100% - 50px );
		}

		.search-form-wrap form.search-form input.search-submit{
			width: 30%;
		}

		.search-form-wrap form.search-form input.search-field {
			width: 90%;
			margin-bottom: 20px;
		}

		.main-header nav.sub-menu-hide-on-mobile ul li a.toggle-sub-menu, .search-wrap.hide-on-mobile, .blogig-scroll-btn.hide-on-mobile, .header-custom-button.hide-on-mobile, .custom-button-label.hide-on-mobile, .mode-toggle-wrap.hide-on-mobile, .blogig-canvas-menu.hide-on-mobile, .menu-txt.hide-on-mobile, .main-banner-wrap .post-excerpt.hide-on-mobile, .blogig-carousel-section .post-excerpt.hide-on-mobile, #blogig-main-wrap #primary article .post-excerpt.hide-on-mobile, #blogig-main-wrap #primary article .author.vcard.hide-on-mobile, #blogig-main-wrap #primary article .post-footer .byline.hide-on-mobile, #blogig-main-wrap #primary article .post-button.hide-on-mobile, #blogig-main-wrap #primary article .post-read-time.hide-on-mobile, #blogig-main-wrap #primary article .post-comments-num.hide-on-mobile, .widget-area.hide-on-mobile {
			display: none;
		}

		.no-of-columns--four .blogig-you-may-missed-inner-wrap .you-may-have-missed-wrap .post-item,
		.no-of-columns--three .blogig-you-may-missed-inner-wrap .you-may-have-missed-wrap .post-item,
		.no-of-columns--two .blogig-you-may-missed-inner-wrap .you-may-have-missed-wrap .post-item  {
			flex: 1 1 100%;
		}

		.blogig-you-may-missed-inner-wrap .you-may-have-missed-wrap .post-thumbnail-wrapper .post-thumnail-inner-wrapper
		{
		    padding-bottom: calc(100%* var(--blogig-youmaymissed-image-ratio-mobile));
		}


		.blogig-you-may-missed-inner-wrap .section-title {
		    font-size: var(--blogig-youmaymissed-block-font-size-mobile);
		    letter-spacing: var(--blogig-youmaymissed-block-font-letterspacing-mobile);
		    line-height: var(--blogig-youmaymissed-block-font-lineheight-mobile);
		}

		.blogig-you-may-missed-inner-wrap .you-may-have-missed-wrap .post-thumbnail-wrapper .post-categories .cat-item a {
		    font-size: var(--blogig-youmaymissed-post-category-font-size-mobile);
		    line-height: var(--blogig-youmaymissed-post-category-font-lineheight-mobile);
		    letter-spacing: var(--blogig-youmaymissed-post-category-font-letterspacing-mobile);
		}

		.blogig-you-may-missed-inner-wrap .you-may-have-missed-wrap article .entry-title {
		    font-size: var(--blogig-youmaymissed-post-title-font-size-mobile);
		    line-height: var(--blogig-youmaymissed-post-title-font-lineheight-mobile);
		    letter-spacing: var(--blogig-youmaymissed-post-title-font-letterspacing-mobile);
		}

		.blogig-you-may-missed-inner-wrap .you-may-have-missed-wrap .post-thumbnail-wrapper .post-footer .byline a {
			font-size: var(--blogig-youmaymissed-post-author-font-size-mobile);
		    line-height: var(--blogig-youmaymissed-post-author-font-lineheight-mobile);
		    letter-spacing: var(--blogig-youmaymissed-post-author-font-letterspacing-mobile);
		}

		.blogig-you-may-missed-inner-wrap .you-may-have-missed-wrap .post-thumbnail-wrapper .post-footer .post-date {
		    font-size: var(--blogig-youmaymissed-post-date-font-size-mobile);
		    line-height: var(--blogig-youmaymissed-post-date-font-lineheight-mobile);
		    letter-spacing: var(--blogig-youmaymissed-post-date-font-letterspacing-mobile);
		}


	}

	@media (max-width: 525px) {
		body.archive--list-layout #primary .blogig-article-inner {
			display: flex;
			flex-direction: column;
		}

		body.archive--list-layout #primary .blogig-article-inner > div, 
		body.archive--list-layout #primary .blogig-article-inner > figure {
			width: 100%;
		}
	}